In [1]:
import pandas as pd

df = pd.read_csv("../data/cleaned/students_cleaned.csv")

In [2]:
df.columns

Index(['marital_status', 'application_mode', 'application_order', 'course',
       'daytime_evening_attendance_t', 'previous_qualification',
       'previous_qualification_grade', 'nacionality', 'mothers_qualification',
       'fathers_qualification', 'mothers_occupation', 'fathers_occupation',
       'admission_grade', 'displaced', 'educational_special_needs', 'debtor',
       'tuition_fees_up_to_date', 'gender', 'scholarship_holder',
       'age_at_enrollment', 'international',
       'curricular units 1st sem (credited)',
       'curricular_units_1st_sem_enrolled',
       'curricular_units_1st_sem_evaluations',
       'curricular_units_1st_sem_approved', 'curricular_units_1st_sem_grade',
       'curricular_units_1st_sem_without_evaluations',
       'curricular_units_2nd_sem_credited',
       'curricular_units_2nd_sem_enrolled',
       'curricular_units_2nd_sem_evaluations',
       'curricular_units_2nd_sem_approved', 'curricular_units_2nd_sem_grade',
       'curricular_units_2nd_sem_without_evaluations', 'unemployment_rate',
       'inflation_rate', 'gdp', 'target', 'is_dropout', 'age_group'],
      dtype='object')

In [3]:
df.head(10)

,marital_status,application_mode,application_order,course,daytime_evening_attendance_t,previous_qualification,previous_qualification_grade,nacionality,mothers_qualification,fathers_qualification,...,curricular_units_2nd_sem_evaluations,curricular_units_2nd_sem_approved,curricular_units_2nd_sem_grade,curricular_units_2nd_sem_without_evaluations,unemployment_rate,inflation_rate,gdp,target,is_dropout,age_group
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0.000000,0,10.8,1.4,1.74,Dropout,1,"(15, 20]"
1,1,15,1,9254,1,1,160.0,1,1,3,...,6,6,13.666667,0,13.9,-0.3,0.79,Graduate,0,"(15, 20]"
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,0,0.000000,0,10.8,1.4,1.74,Dropout,1,"(15, 20]"
3,1,17,2,9773,1,1,122.0,1,38,37,...,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate,0,"(15, 20]"
4,2,39,1,8014,0,1,100.0,1,37,38,...,6,6,13.000000,0,13.9,-0.3,0.79,Graduate,0,"(40, 60]"
5,2,39,1,9991,0,19,133.1,1,37,37,...,17,5,11.500000,5,16.2,0.3,-0.92,Graduate,0,"(40, 60]"
6,1,1,1,9500,1,1,142.0,1,19,38,...,8,8,14.345000,0,15.5,2.8,-4.06,Graduate,0,"(15, 20]"
7,1,18,4,9254,1,1,119.0,1,37,37,...,5,0,0.000000,0,15.5,2.8,-4.06,Dropout,1,"(20, 25]"
8,1,1,3,9238,1,1,137.0,62,1,1,...,7,6,14.142857,0,16.2,0.3,-0.92,Graduate,0,"(20, 25]"
9,1,1,1,9238,1,1,138.0,1,1,19,...,14,2,13.500000,0,8.9,1.4,3.51,Dropout,1,"(15, 20]"

In [4]:
df.rename(columns={'curricular units 1st sem (credited)' : 'curricular_units_1st_sem_credited'}, inplace=True)

In [5]:
df.columns

Index(['marital_status', 'application_mode', 'application_order', 'course',
       'daytime_evening_attendance_t', 'previous_qualification',
       'previous_qualification_grade', 'nacionality', 'mothers_qualification',
       'fathers_qualification', 'mothers_occupation', 'fathers_occupation',
       'admission_grade', 'displaced', 'educational_special_needs', 'debtor',
       'tuition_fees_up_to_date', 'gender', 'scholarship_holder',
       'age_at_enrollment', 'international',
       'curricular_units_1st_sem_credited',
       'curricular_units_1st_sem_enrolled',
       'curricular_units_1st_sem_evaluations',
       'curricular_units_1st_sem_approved', 'curricular_units_1st_sem_grade',
       'curricular_units_1st_sem_without_evaluations',
       'curricular_units_2nd_sem_credited',
       'curricular_units_2nd_sem_enrolled',
       'curricular_units_2nd_sem_evaluations',
       'curricular_units_2nd_sem_approved', 'curricular_units_2nd_sem_grade',
       'curricular_units_2nd_sem_without_evaluations', 'unemployment_rate',
       'inflation_rate', 'gdp', 'target', 'is_dropout', 'age_group'],
      dtype='object')

In [ ]:
df.head(10)

In [ ]:
df['age_at_enrollment']

In [ ]:
students = df[[
    "age_at_enrollment",
    "displaced",
    "international"
    
]].copy()

students.to_csv("../data/cleaned/students.csv", index=False)

In [ ]:
admission = df[[
    "application_mode",
    "daytime_evening_attendance_t",
    "application_order",
    "previous_qualification",
    "previous_qualification_grade",
    "admission_grade"
]].copy()

admission.to_csv("admission.csv", index=False)

In [ ]:
education_special_needs = df[[
    "educational_special_needs"
]].copy()

education_special_needs.to_csv("../data/cleaned/education_special_needs.csv", index=False)

In [ ]:
parents = df[[
    "mothers_qualification",
    "mothers_occupation",
    "fathers_qualification",
    "fathers_occupation"
]].copy()

parents.to_csv("../data/cleaned/parents.csv", index=False)

In [ ]:
courses = df[[
    "course"
]].copy()

courses.to_csv("../data/cleaned/courses.csv", index=False)

In [ ]:
nationality = df[[
    "nacionality"
]].copy()

nationality.to_csv("../data/cleaned/nationality.csv", index=False)

In [ ]:
marital_status = df[[
    "marital_status"
]].copy()

marital_status.to_csv("../data/cleaned/marital_status.csv", index=False)

In [ ]:
financial_status = df[[
    "debtor",
    "scholarship_holder",
    "tuition_fees_up_to_date"
]].copy()

financial_status.to_csv("../data/cleaned/financial_status.csv", index=False)

In [6]:
curricular_units = df[[
    "curricular_units_1st_sem_credited",
    "curricular_units_1st_sem_enrolled",
    "curricular_units_1st_sem_evaluations",
    "curricular_units_1st_sem_approved",
    "curricular_units_1st_sem_grade",
    "curricular_units_1st_sem_without_evaluations",
    "curricular_units_2nd_sem_credited",
    "curricular_units_2nd_sem_enrolled",
    "curricular_units_2nd_sem_evaluations",
    "curricular_units_2nd_sem_approved",
    "curricular_units_2nd_sem_grade",
    "curricular_units_2nd_sem_without_evaluations"
]].copy()

curricular_units.to_csv("../data/cleaned/curricular_units.csv", index=False)

In [7]:
countries = df[[
    "name"
]].copy()

countries.to_csv("../data/cleaned/countries.csv", index=False)

KeyError: "None of [Index(['name'], dtype='object')] are in the [columns]"

In [8]:
genders = df[[
    "gender"
]].copy()

genders.to_csv("../data/cleaned/genders.csv", index=False)

In [9]:
students_outcomes = df[[
    "target"
]].copy()

students_outcomes.to_csv("../data/cleaned/students_outcomes.csv", index=False)

In [10]:
economic_indicators = df[[
    "unemployment_rate",
    "inflation_rate",
    "gdp"
]].copy()

economic_indicators.to_csv("../data/cleaned/economic_indicators.csv", index=False)